<section class="hero">
  <h1 class="hero__title">buscador de series de anime</h1>
  <h2 class="hero__subtitle">todas tus series anime en un click</h2>

  <form class="form" action="">
    <input
      type="text"
      placeholder="buscar... "
      name="film"
      class="js-inputSearch search"
    />

    <button>
      <i class="fa-solid fa-magnifying-glass fa-2x js-btnSearch"></i>
    </button>
    <button>
      <i class="fa-regular fa-circle-xmark fa-2x js-resetSearch"></i>
    </button>
  </form>
</section>
