<section class="hero">
  <h1 class="hero__title">buscador de series de anime</h1>
  <h2 class="hero__subtitle">todas tus series anime en un click</h2>

  <form class="form" action="">
    <input
      type="text"
      placeholder="buscar... "
      name="film"
      class="js-inputSearch search"
      title="Introduce título"
    />

    <button class="button js-btnSearch" title="Buscar">
      <i class="fa-solid fa-magnifying-glass fa-2x"></i>
    </button>
    <button class="button js-resetSearch" title="Borrar">
      <i class="fa-regular fa-circle-xmark fa-2x button"></i>
    </button>
  </form>
  <p class="js-warning warning"></p>
</section>
