<main class="page">
  <h1>Buscador de series de anime</h1>
  <form class="form" action="">
    <input
      type="text"
      placeholder="Search... "
      name="film"
      class="js-inputSearch search"
    />
    <input type="submit" value="Buscar" class="js-btnSearch" />
    <input type="reset" value="Reset" class="js-resetSearch" />
  </form>

  <section class="film">
    <h2>resultado búsqueda</h2>
    <ul class="filmList js-foundMovies"></ul>
  </section>

  <section class="fav-film">
    <h2>mis favoritas</h2>
    <ul class="filmList js-favoriteMovies"></ul>
  </section>
</main>
