// fonts
$font-main: "Montserrat", sans-serif;

// colors
$color-bg: #21212d;
$color-seconccdary: #2c2c38;
$color-font: #ebedf0;
$color-font-secondary: #737373;
$color-details: #645fc6;
$color-item-selected: #59c5e0;
