.footer {
  display: flex;
  width: 100%;
  height: auto;
  background-color: $color-bg;
  color: $color-font;
  font-size: 1.5rem;
  padding: 30px;
  body.light & {
    background-color: #fefefe;
  }
  p {
    margin: auto;
    body.light & {
      color: $color-font-secondary;
    }
  }

  .link {
    color: $color-font-secondary;
  }
}
