.hero {
  width: 100%;
  height: auto;
  background-color: $color-bg;
  padding: 30px;
  &__title {
    color: $color-font;
    font-size: 3.4rem;
    margin-bottom: 15px;
  }
  &__title::first-letter {
    text-transform: uppercase;
  }

  &__subtitle {
    color: $color-font-secondary;
    font-size: 2.4rem;
  }
  &__subtitle::first-letter {
    text-transform: uppercase;
  }
}
.form {
  position: relative;
  input {
    width: 260px;
    max-width: 400px;
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: rgb(230, 228, 228);
    padding: 15px;
    margin: 25px 15px 15px 0;
  }
  input[type="text"]::placeholder {
    color: #bbb;
    font-size: 1.8rem;
    padding: auto 30px;
  }

  button {
    width: 80px;
    height: 40px;
    border: none;
    background-color: $color-details;
    border-radius: 25px;
    vertical-align: middle;
  }
}
