.page {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
  width: 100%;
  min-height: 60vh;
  height: max-content;
  padding: 3%;
  background-color: $color-bg;
  @media all and (min-width: 768px) {
    grid-template-columns: 2fr 1fr;
    column-gap: 15px;
  }
  &__film {
    min-height: 10vh;
    height: max-content;
    border: solid 4px $color-item;
    border-radius: 25px;
    h2 {
      color: $color-font;
      padding: 20px;
      font-size: 2rem;
      text-transform: uppercase;
    }
  }

  &__fav-film {
    height: max-content;
    border: solid 4px $color-details;
    border-radius: 25px;
    order: -1;
    @media all and (min-width: 768px) {
      order: inherit;
    }

    h2 {
      color: $color-font;
      padding: 20px;
      font-size: 2rem;
      text-transform: uppercase;
    }

    button {
      width: 60px;
      height: 20px;
      border: none;
      background-color: $color-details;
      border-radius: 15px;
      margin: 10px 20px 10px;
      color: $color-font;
    }
    .button:hover {
      background-color: $color-item;
    }
  }
}
.filmList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  column-gap: 15px;

  li {
    position: relative;
    &:hover {
      img {
        border-color: $color-secondary;
      }
      h3 {
        background-color: $color-secondary;
      }
    }
  }

  img {
    width: 170px;
    height: 260px;
    border: solid 6px $color-item;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    margin-bottom: 15px;
  }

  h3 {
    position: absolute;
    width: 170px;
    height: 70px;
    top: 190px;
    padding-top: 5px;
    text-align: center;
    color: $color-font-secondary;
    background-color: $color-item;
    border-radius: 25px 25px 0 0;
  }
}
.favList {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  column-gap: 15px;
  list-style: none;
  padding: 10px;

  li {
    position: relative;
    border: solid 4px $color-item;
    background-color: $color-secondary;
    border-radius: 15px;
    margin-bottom: 15px;
    height: 60px;
    overflow: hidden;

    img {
      width: 55px;
      height: 55px;
      border: none;
      object-fit: cover;
    }
    h3 {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      min-width: 175px;
      height: 55px;
      top: 0px;
      left: 55px;
      font-size: 1.2rem;
      padding: 5px;
      text-align: start;
      color: $color-font-secondary;
      border: solid 2px $color-secondary;
      background-color: transparent;
    }
  }
}

.selected {
  h3 {
    border: solid 2px $color-secondary;
    background-color: $color-secondary;
  }
  img {
    border: solid 6px $color-secondary;
  }
}
